@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  color: red;
}

:root {
  --bg-color: rgb(1, 0, 19);
  --font-color: rgb(255, 255, 255);
  --main-color: aqua;
  --hover-font-color: black;
  --glow-rgb: 239 42 201;
  --fontSizeof-canvas: 120;
}

body {
  background: var(--bg-color);
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: aqua;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.5rem aqua;
}

/*********** starting loading screen styling    [start]   **********/
.starting-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5vh;
  width: 5vw;
  z-index: 1;
}

.starting-loading .leftBottom {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid;
  padding: 10px;
  border-image-slice: 1;
  z-index: 1;
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px aqua);
  animation: rotatefirst 1.5s alternate-reverse infinite;
  border-image-source: radial-gradient(
    circle at top left,
    aqua,
    transparent 25%
  );
}

@keyframes rotatefirst {
  0% {
    position: absolute;
    rotate: -360deg;
    top: 50%;
    right: unset;
    bottom: unset;
    left: 50%;
  }
  50% {
    top: 0;
    left: 0;
  }
  100% {
    rotate: 360deg;
  }
}
.starting-loading .rightTop {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid;
  padding: 10px;
  border-image-slice: 1;
  z-index: 1;
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px aqua);
  animation: rotatesecond 1.5s alternate-reverse infinite;
  border-image-source: radial-gradient(
    circle at top right,
    aqua,
    transparent 25%
  );
}

@keyframes rotatesecond {
  0% {
    position: absolute;
    rotate: -360deg;
    top: 50%;
    right: 50%;
    bottom: unset;
    left: unset;
  }
  50% {
    top: 0;
    right: 0;
  }
  100% {
    rotate: 360deg;
  }
}
.starting-loading .rightBottom {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid;
  padding: 10px;
  border-image-slice: 1;
  z-index: 1;
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px aqua);
  animation: rotatethird 1.5s alternate-reverse infinite;
  border-image-source: radial-gradient(
    circle at bottom right,
    aqua,
    transparent 25%
  );
}

@keyframes rotatethird {
  0% {
    position: absolute;
    rotate: -360deg;
    top: unset;
    right: 50%;
    bottom: 50%;
    left: unset;
  }
  50% {
    bottom: 0;
    right: 0;
  }
  100% {
    rotate: 360deg;
  }
}
.starting-loading .leftTop {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid;
  padding: 10px;
  border-image-slice: 1;
  z-index: 1;
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px aqua);
  animation: rotatefour 1.5s alternate-reverse infinite;
  border-image-source: radial-gradient(
    circle at bottom left,
    aqua,
    transparent 25%
  );
}

@keyframes rotatefour {
  0% {
    position: absolute;
    rotate: -360deg;
    top: unset;
    right: unset;
    bottom: 50%;
    left: 50%;
  }
  50% {
    bottom: 0;
    left: 0;
  }
  100% {
    rotate: 360deg;
  }
}
/*********** starting loading screen styling    [ end ]   **********/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: unset;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1.5px);
  z-index: 1000;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: transparent;
  display: none;
}

header .logo {
  text-align: center;
  border-radius: 50%;
}

.logo img {
  height: 3rem;
}

header nav {
  color: var(--font-color);
}

header nav .search-section {
  border: 2px solid var(--main-color);
  border-radius: 1rem;
  padding: 0.2rem 1.2rem;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: unset;
  height: 3rem;
  position: relative;
  overflow: hidden;
  z-index: 500;
}

.search-section .search-input-box {
  background: transparent;
  border: none;
  color: var(--font-color);
  width: 88%;
  padding: 0rem 1rem;
  position: absolute;
  left: 0;
  height: 100%;
  font-size: 1.3rem;
  z-index: 500;
}

.search-section .search-input-box:focus {
  outline: none;
}

.search-section .search-input-box::-moz-placeholder {
  color: var(--font-color);
  font-size: 1.3rem;
  text-transform: capitalize;
}

.search-section .search-input-box::placeholder {
  color: var(--font-color);
  font-size: 1.3rem;
  text-transform: capitalize;
}

.search-section .search-icon {
  color: var(--font-color);
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: 3%;
}

/*[[[[[[[[[[[[[[[[[[[   Main-page section   [start] ********]]]]]]]]]]]]]]]]]]]]]]]*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  gap: 1rem;
  display: none;
}

/*[[[[[[[[[[[[[[[[[[[   Main-page section   [end] ********]]]]]]]]]]]]]]]]]]]]]]]*/
/*[[[[[[[[[[[[[[[[[[[   Front-page section   [start] ********]]]]]]]]]]]]]]]]]]]]]]]*/
.intropage {
  position: relative;
  height: 60vh;
  width: 100%;
  color: white;
  font-size: 1.8rem;
  pointer-events: auto;
  overflow: hidden;
  transition: 0.3s linear;
  opacity: 0;
}

.intropage.intropage-OpenClose {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.intropage canvas {
  position: absolute;
  top: 20%;
  width: 55%;
  height: 55%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intropage h2 {
  color: white;
  z-index: 1000;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
  width: 50rem;
}

/*[[[[[[[[[[[[[[[[[[[   Front-page section  [ end ] ********]]]]]]]]]]]]]]]]]]]]]]]*/
/*[[[[[[[[[[[[[[[[[[[   Home-page section   [start] ********]]]]]]]]]]]]]]]]]]]]]]]*/
.home-page {
  position: relative;
  display: flex;
  justify-content: unset;
  align-items: unset;
  flex-direction: column;
  min-height: 80vh;
  bottom: 0;
  width: 100%;
  padding-bottom: 5rem;
}

.home-page.homepage-OpenClose {
  opacity: 0;
  display: none;
}

.home-page #home-heading {
  padding: 5rem 0rem 1rem 0rem;
  color: white;
  font-size: 3rem;
  top: 0;
}

/*[[[[[[[[[[[[[[[[[[[ motivation-container section ]]]]]]]]]]]]]]]]]]]]]]]*/
.cards-container {
  width: 100%;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: unset;
  flex-wrap: wrap;
  z-index: 10;
}

.cards-container .card-details {
  height: 15rem;
  width: 15rem;
  position: relative;
  color: var(--font-color);
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s linear;
  border-radius: 0.5rem;
  border: 1px solid #2f2f2f;
  z-index: 9;
}

.cards-container .card-details:hover {
  box-shadow: 0rem 1rem 1.1rem var(--main-color);
  border: 1px solid var(--font-color);
}

.cdheading h1,
.cdheading h2 {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  text-align: center;
}

.cdheading .motivationTypeName {
  color: aqua;
  font-size: 1.6rem;
  filter: drop-shadow(0rem 0rem 0.8rem black);
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
}

.cdheading h2 {
  top: -20%;
}

.cdheading h1 {
  top: 50%;
  color: var(--font-color);
}

.card-details:hover .cdheading h1 {
  top: -20%;
}

.card-details:hover .cdheading h2 {
  top: 50%;
}

.card-details img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.3;
}

/*[[[[[[[[[[[[[[[[[[[   Home-page section   [ end ] ********]]]]]]]]]]]]]]]]]]]]]]]*/
/*************[[[[[[[[[[[ second page making   ]]]]]]]]]]]]]]]]]]]]]]************/
.second-page {
  position: absolute;
  height: 0%;
  width: 100%;
  transition: 0.3s linear;
  pointer-events: none;
  scale: 0;
  opacity: 0;
  top: 0;
}

.second-page.secondpage-OpenClose {
  height: 100%;
  opacity: 1;
  scale: 1;
  pointer-events: auto;
}

.second-page .second-page-content {
  min-height: 93%;
  width: 100%;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: unset;
}

.second-page .left-side-img-container {
  height: 55vh;
  width: 30vw;
}

.second-page .left-side-img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.second-page .right-side-motvcontainer {
  min-height: 40%;
  width: 50%;
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: column;
  gap: 3rem;
}

.right-side-motvcontainer .headings-writer {
  color: white;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: column;
  gap: 1rem;
}

.right-side-motvcontainer #motivation-heading {
  color: var(--font-color);
}

.headings-writer #motivation-writer {
  width: -moz-fit-content;
  width: fit-content;
  color: var(--main-color);
}

.right-side-motvcontainer .prev-next-btn {
  display: flex;
  gap: 1rem;
}

.prev-next-btn .btn {
  background: transparent;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 50%;
}

.btn i {
  font-size: 1.3rem;
  border: 2px solid var(--main-color);
  color: var(--font-color);
  padding: 0.5rem;
  border-radius: 50%;
  transition: 0.3s;
}

.second-page .backtohomebtn {
  padding: 0.5rem;
  border-radius: 1rem;
  background: transparent;
  color: var(--font-color);
  border: 2px solid var(--main-color);
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%);
  transition: 0.3s;
  font-weight: 600;
}

.prev-next-btn .btn i:hover,
.backtohomebtn:hover {
  background: var(--main-color);
  color: var(--hover-font-color);
  box-shadow: 0rem 0rem 0.5rem var(--main-color);
}

/*[[[[[[[[[[[[[[[[[[[   Loading Part   [ Start ] ********]]]]]]]]]]]]]]]]]]]]]]]*/
.skelaton {
  position: relative;
}

.skelaton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: linear-gradient(90deg, #c7c7c7, #585858, #8b8b8b);
  background-size: 200%;
  animation: skeleton 1s infinite reverse;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.scPage_skeleton {
  position: relative;
}

.scPage_skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(90deg, #c7c7c7, #106f7c, #575757, #c7c7c7);
  background-size: 200%;
  animation: scPage_skeleton 1s infinite alternate-reverse;
}

@keyframes scPage_skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
/*[[[[[[[[[[[[[[[[[[[   Loading Part   [  end  ] ********]]]]]]]]]]]]]]]]]]]]]]]*/
/*[[[[[[[[[[[[[[[[[[[   Alert  section   [ Start ] ********]]]]]]]]]]]]]]]]]]]]]]]*/
.alertMessageContainer {
  opacity: 0;
  scale: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.alertMessageContainer.alertMsgToggle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: unset;
  scale: 1;
  pointer-events: auto;
  opacity: 1;
}

.alertMessageContainer .alertContent {
  min-height: 10rem;
  width: 30rem;
  border: 2px solid var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: var(--font-color);
  background: rgba(10, 51, 56, 0.6039215686);
  border-radius: 1rem;
  padding: 1rem 0.5rem;
}

.alertContent h1 {
  text-align: center;
  font-size: 1.5rem;
}

.alertContent #userQuery {
  color: red;
}

.alertContent #alertBtn {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

/*[[[[[[[[[[[[[[[[[[[   Alert  section   [  End ] ********]]]]]]]]]]]]]]]]]]]]]]]*/
/*[[[[[[[[[[[[[[[[[[[   Footer section   [ Start ] ********]]]]]]]]]]]]]]]]]]]]]]]*/
footer {
  min-height: 30vh;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: unset;
  border-top: 2px solid gray;
  display: none;
}

footer .footer-container {
  width: 90%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: unset;
  gap: 10vw;
}

.footer-container a {
  color: rgb(65, 65, 65);
  transition: 0.3s linear;
}

.footer-container a:hover {
  text-decoration: underline;
  color: aqua;
}

.footer-container .footer-flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-container .contact .footer-heading {
  color: var(--font-color);
  font-size: 1.4rem;
}

.footer-container .footer-heading {
  color: var(--font-color);
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: unset;
  gap: 0.5rem;
}

/*[[[[[[[[[[[[[[[[[[[   Footer section   [  End  ] ********]]]]]]]]]]]]]]]]]]]]]]]*/
/*******************[[[[[[[[[[[[[[[[[[[[    responssive section   ]]]]]]]]]]]]]]]]]]]]]]]]]]]*******************/
@media (max-width: 1120px) {
  .second-page .left-side-img-container {
    height: 23rem;
    width: 23rem;
  }
}
@media (max-width: 870px) {
  html {
    font-size: 80%;
  }
  .cards-container .card-details {
    height: 20rem;
    width: 20rem;
  }
  .cdheading h1 .motivationTypeName {
    font-size: 2rem;
  }
  .cdheading h1,
  .cdheading h2 {
    font-size: 2rem;
  }
}
@media (max-width: 800px) {
  .intropage canvas {
    top: 40%;
  }
  .second-page .left-side-img-container {
    height: 20rem;
    width: 20rem;
  }
}
@media (max-width: 660px) {
  :root {
    --fontSizeof-canvas: 80;
  }
  .intropage h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 10%;
  }
  .second-page .second-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .second-page .right-side-motvcontainer {
    width: 90%;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
  }
}
@media (max-width: 560px) {
  html {
    font-size: 70%;
  }
  .intropage h2 {
    display: inline-block;
    text-align: center;
    width: 30rem;
  }
}
@media (max-width: 470px) {
  :root {
    --fontSizeof-canvas: 60;
  }
  header {
    padding: 0.5rem 1rem;
  }
  header nav .search-section {
    border: 2px solid var(--main-color);
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    width: 20rem;
  }
  .second-page .second-page-content {
    padding: 0rem;
  }
  .second-page {
    padding-top: 4rem;
  }
  .cards-container .card-details {
    height: 28rem;
    width: 28rem;
  }
  .cdheading h1 .motivationTypeName {
    font-size: 2.5rem;
  }
  .cdheading h1,
  .cdheading h2 {
    font-size: 2.5rem;
  }
  .second-page .left-side-img-container {
    height: 20rem;
    width: 28rem;
  }
  .second-page .right-side-motvcontainer {
    gap: 3rem;
  }
  .second-page .backtohomebtn {
    padding: 0.5rem 0.8rem;
    bottom: 2%;
  }
} /*# sourceMappingURL=style.css.map */
