@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


:root
{
    --bg-color:rgb(1, 0, 19);
    --font-color:rgb(255, 255, 255);
    --main-color:aqua;
    --hover-font-color:black;
    --glow-rgb: 239 42 201;
}

body
{
  background: var(--bg-color); 
  min-height: 100vh;
}

::-webkit-scrollbar
{
    background: transparent;
    width: .5rem;
}

::-webkit-scrollbar-thumb
{
    background: aqua;
    border-radius: 1rem;
    box-shadow: 0rem 0rem .5rem aqua;
}



/* .bg img
{
    /* background-attachment: fixed; 
    height: 90%;
    width: 100%;
    object-fit: cover;
    position: absolute;
} */

/* canvas
{
    width: 100%;
    position: absolute;
    top: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
} */

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    backdrop-filter:blur(1.5px);
    z-index: 100;
    /* border-bottom: 2px solid aqua; */
    width: 100%;
    backdrop-filter: blur(10px);
    background: transparent;
}

header .logo
{
    /* border: 2px dotted var(--main-color); */
    text-align: center;
    border-radius: 50%;
    /* padding: 1rem; */
}

.logo img
{
    height: 3rem;
    /* width: 10rem; */  
}

header nav
{
    color: var(--font-color);
}

header nav .search-section
{
    border: 2px solid var(--main-color);
    border-radius: 1rem;
    padding: .2rem 1.2rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    position: relative;
    overflow: hidden;
}


.search-section .search-input-box
{
    background: transparent;
    border: none;
    color: var(--font-color);
    width: 88%;
    /* border: 2px solid red; */
    padding: 0rem 1rem;
    position: absolute;
    left: 0;
    height: 100%;
    font-size: 1.3rem;
}

.search-section .search-input-box:focus
{
  outline: none;
}

.search-section .search-input-box::placeholder
{
    color: var(--font-color);
    /* border: 2px solid red; */
    font-size: 1.3rem;
    text-transform: capitalize;

}

.search-section .search-icon
{
    color: var(--font-color);
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 3%;
}

/*[[[[[[[[[[[[[[[[[[[   Front-page section    ]]]]]]]]]]]]]]]]]]]]]]]*/
/* .intro-page
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-page .mainmotivation-container
{
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    gap: 2rem;
}

.mainmotivation-container h1
{
    letter-spacing: .25rem;
    font-weight:1200;
    text-align: center;
}

.mainmotivation-container span
{
    color: var(--main-color);
    font-size: 6rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: .9rem;
    font-weight: 800;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    text-shadow: 0rem 0rem .4rem var(--main-color);
} */

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    gap: 1rem;
}

.intropage
{
    position: relative;
    height: 60vh;
    width: 100%;
    /* color: var(--bg-color); */
    color: white;
    display: grid;
    font-size: 1.8rem;
    place-content: center;
    /* border-bottom: 2px solid red; */
    overflow: hidden;
}

.intropage.intropage-OpenClose
{
    opacity: 0;
    display: none;
}

/**************************** intro page stars on mouse moving [[ start ]]   ***********************/
  
  /* .glow-point {
    position: absolute;
    box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
    pointer-events: none;
    border-radius: 50%;
  }
  
  .star {
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 1rem;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    pointer-events: none;
    border: 2px dotted aqua;
  }
  
  @keyframes fall-1 {
    0% {
      transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
      opacity: 0;
    }
    
    5% {
      transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
      opacity: 1;
    }
    
    100% {
      transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
      opacity: 0;
    }
  }
  
  @keyframes fall-2 {
    0% {
      transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
      opacity: 0;
    }
    
    10% {
      transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
      opacity: 1;
    }
    
    100% {
      transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
      opacity: 0;
    }
  }
  
  @keyframes fall-3 {
    0% {
      transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
      opacity: 0;
    }
    
    15% {
      transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
      opacity: 1;
    }
    
    100% {
      transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
      opacity: 0;
    }
  } */
/**************************** intro page stars on mouse moving [[  end  ]]   ***********************/


.home-page
{
    position: relative;
    display: flex;
    flex-direction: column;
    /* min-height:100vh; */
    min-height:80%;
    bottom: 0;
    /* height:90vh; */
    /* bottom: 0; */
    /* border: 2px solid aqua; */
    width:100%;
    justify-content: center;
    align-items: center;

}

.home-page.homepage-OpenClose
{
    opacity: 0;
    display: none;
}

.home-page #home-heading
{
    /* border: 2px solid red; */
    padding: 5rem 0rem 1rem 0rem;
    color: white;
    font-size: 3rem;
    top: 0;
}

/*[[[[[[[[[[[[[[[[[[[   motivation-container section    ]]]]]]]]]]]]]]]]]]]]]]]*/

/* .home-page img, .home-page h1
{
    animation: zoom linear;
    animation-timeline: scroll();
    /* animation-timeline: view(); 
    /* animation-range: contain 0% contain 100%; 
} */

/* @keyframes zoom
{
    0%{
        scale: 1;
    }
    100%{
        scale: 5;
        opacity: 0;
        
    }
} */


/* main
{
    height: 100%;
    width: 80%;
    position: absolute;
    right: 0;
} */



.motivation-container.motivationcontainer-OpenClose
{  
    display: none;
}

.cards-container
{
    
    /* width: 100%; */
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* border: 2px solid aqua; */
}

.cards-container .card-details
{
    height: 15rem;
    width: 15rem;
    position: relative;
    color: var(--font-color);
    cursor: pointer;
    overflow: hidden;
    transition: .3s linear;
    border-radius: .5rem;
    border: 1px solid #2f2f2f;
    z-index: 9;
    /* backdrop-filter: blur(5px); */
}

.cards-container .card-details:hover
{
   box-shadow: 0rem 1rem 1.1rem var(--main-color);
   border: 1px solid var(--font-color);
}
.cdheading h1, .cdheading h2
{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .5s;
    text-align: center; /* for centering to line motivation heading*/ 
}

.cdheading .motivationTypeName
{
    color: aqua;
    font-size: 1.6rem;
    filter: drop-shadow(0rem 0rem .8rem black);
    -webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: black;
}

.cdheading h2
{
    top: -20%;
}

.cdheading h1
{
    bottom: 30%;
}

.card-details:hover .cdheading h1
{
    bottom: -100%;
}

.card-details:hover .cdheading h2
{
    top: 50%;
}  

.card-details img
{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .3;
}


/*************[[[[[[[[[[[ second page making   ]]]]]]]]]]]]]]]]]]]]]]************/
.second-page
{
    position: absolute;
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    display: none;
    transition: .5s linear;
    pointer-events: none;
}

.second-page.secondpage-OpenClose
{
    display: block;
    pointer-events: auto;
}

.second-page .second-page-content
{
    min-height: 93%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0rem 2rem;
}

.second-page .left-side-img-container
{
    height: 55vh;
    width: 30vw;
}

.second-page .left-side-img-container img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.second-page .right-side-motvcontainer
{
    min-height:40%;
    width: 50%;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    gap: 3rem;
}

.right-side-motvcontainer .headings-writer
{
    color: var(--font-color);
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.headings-writer #motivation-writer
{
    width: fit-content;
}

.right-side-motvcontainer .prev-next-btn
{
    display: flex;
    gap: 1rem;
}

.prev-next-btn .btn
{
    background: transparent;
    /* padding: 1rem; */
    border: none;
    cursor: pointer;
     pointer-events: auto;
     border-radius: 50%;
}

.btn i
{
    font-size: 1.3rem;
    border: 2px solid var(--main-color);
    color: var(--font-color);
    padding: .5rem;
    border-radius: 50%;
    transition: .3s;
}

.second-page .backtohomebtn
{
    padding: .5rem;
    border-radius: 1rem;
    background: transparent;
    color: var(--font-color);
    border: 2px solid var(--main-color);
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%);
    transition: .3s ;
    font-weight: 600;
}

.prev-next-btn .btn i:hover, .backtohomebtn:hover
{
    background: var(--main-color);
    color: var(--hover-font-color);
    box-shadow: 0rem 0rem .5rem var(--main-color);
}

/* loading skelaton */

.skelaton {
    position: relative;
    border: 2px solid red;
}
.skelaton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: linear-gradient(90deg, #c7c7c7, #585858, #8b8b8b);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.scPage_skeleton
{
    position: relative;
}

.scPage_skeleton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #c7c7c7, #106f7c, #575757, #c7c7c7);
    background-size: 200%;
    animation: scPage_skeleton 1s infinite alternate-reverse;
}

@keyframes scPage_skeleton {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}




/*******************[[[[[[[[[[[[[[[[[[[[    responssive section   ]]]]]]]]]]]]]]]]]]]]]]]]]]]*******************/

@media(max-width:470px)
{
    header
    {
    
        padding:0rem .3rem 0rem .8rem;
        /* border: 2px solid red; */
    }

    header nav .search-section
    {
        border: 2px solid var(--main-color);
        border-radius: 1rem;
        padding: .2rem .5rem;
        width: 15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .second-page
    {
        padding-top: 4rem;
    }

    .second-page .second-page-content
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0rem;
        /* border: 2px solid rgb(166, 0, 255); */
    }

    .second-page .left-side-img-container
    {
        height: 15rem;
        width: 22.8rem;
        /* border: 2px solid red; */
    }

    .second-page .right-side-motvcontainer
    {
        width: 90%;
        align-items: center;
        gap: 1rem;
        font-size: .8rem;
    }
    
    .second-page .backtohomebtn
    {
        padding: .5rem .8rem;
        bottom: 2%;
    }

}

@media(max-width:720px)
{
    html
    {
        font-size: 40%;
    }
}
