*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root
{
    --bg-image:black;
    --text-color:white;
    --main-color:aqua;
    --hover-font-color:black;
}

body
{
  height: 100vh;
  overflow: hidden;
  background: var(--bg-image);
}



#Motivatimg img
{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    opacity: .8;
    /* background: linear-gradient(aqua, purple, blue); */
    /* background: black; */
}


.heading
{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 40rem;
    z-index: 11;
    height: 100vh;
    /* border: 2px solid red; */
    width: 100%;
    position: absolute;
    color: var(--text-color);
    /* backdrop-filter: blur(10px); */
}

.motivation-content .motivation-heading
{
    /* border: 2px solid aqua; */
    width: 50%;
    font-size: 2.5rem;
    text-align: center;
   
}

.motivation-content .motivation-line
{
    /* border: 2px solid red; */
    /* text-align: center; */
    width: 50%;
    height: 10rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn
{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background: transparent;
    border:2px solid var(--main-color);
    color: var(--font-color);
    transition: .3s linear;
    font-size: 1.1rem;
}

.btn:hover
{
    background: var(--main-color);
    color: var(--hover-font-color);
}

